{% extends "layout.html" %}
{% block extra_css %}
<style>
div.container{
  //border: 1px solid;
}
div.row > div{
  border: 1px solid;
  position：relative;
  overflow-x：scroll;
}
table > thead > tr > th{
  text-align: center;
  padding: 2px !important;
}
table > tbody > tr{
  height: 40px;
}
.table td{
  text-align: center;
  vertical-align: bottom;
  vertical-align: bottom;
  padding: 2px !important;
}
input.score{
  width: 18px;
  margin: 0px;
  display:inline !important;
}
</style>
{% endblock %}
{% block content %}
{% include "game/nav.html" %}
<div class="container">
    <div class="row">
        <form>
        <table class="table table-bordered" id="game">
            <thead>
                <tr>
                    <th scope="col-sm">1</th>
                </tr>
            </thead>
            <tbody>
                <tr class="score">
                    <td scope="col" class="f1">
                        <div class="col-sm f1">
                            <input type="text" class="score d-inline form-control" name="f1_0" aria-describedby="inputGroup-sizing-sm">
                            <input type="text" class="score d-inline form-control" name="f1_1" aria-describedby="inputGroup-sizing-sm">
                        </div>
                    </td>
                </tr>
                <tr class="summary">
                    <td class="f1">0</td>
                </tr>
            </tbody>
        </table>
        </form>
    </div>
    <div class="col-sm">
        <button type="button" class="btn btn-info">NextLane</button>
    </div>
  </div>
</div>
{% endblock %}
{% block extra_js %}
<script>
$(function(){
    $("button.btn.btn-info").on("click", function(){
        var cnt = fnCountLane();
console.log(cnt);
        if ( cnt < 10 ) {
            fnAddLane(cnt);
        }
    });

    function fnAddLane(cnt){
        fnAddHead(cnt);
        fnAddTd(cnt);
        fnAddScore(cnt);
    };
    function fnAddHead(cnt){
        $(".table thead > tr").append('<th scope="col-sm">'+(cnt+1)+"</th>");
    }
    function fnAddTd(cnt){
        $(".table tbody > tr").append('<td scope="col" class="f'+(cnt+1)+'"></td>');
    }
    function fnAddScore(cnt){
        $(".score > td.f"+(cnt+1)).append('<div class="col-sm f'+(cnt+1)+'">');
        $(".score > td.f"+(cnt+1)+' > div').append('<input type="text" class="score d-inline form-control" name="f'+(cnt+1)+'_0" aria-describedby="inputGroup-sizing-sm">');
        $(".score > td.f"+(cnt+1)+' > div').append('<input type="text" class="score d-inline form-control" name="f'+(cnt+1)+'_1" aria-describedby="inputGroup-sizing-sm">');
    }
    function fnCountLane(){
        return $("table#game > thead > tr > th").length;
    }

});
</script>
{% endblock %}
