{% extends "layout.html" %}
{% block extra_css %}
<style>
div.container{
  //border: 1px solid;
}
div.row > div{
  border: 1px solid;
  position：relative;
  overflow-x：scroll;
}
table > thead > tr > th{
  text-align: center;
  padding: 2px !important;
}
table > tbody > tr{
  height: 40px;
}
.table td{
  text-align: center;
  vertical-align: bottom;
  vertical-align: bottom;
  padding: 2px !important;
}
input.score{
  width: 18px;
  margin: 0px;
  display:inline !important;
}
.score select{
  width: 40px !important;
  padding: 1px !important;
}
.score option{
//  width: 40px !important;
//  padding: 1px !important;
}
</style>
{% endblock %}
{% block content %}
{% include "game/nav.html" %}
<div class="container">
    <div class="row">
        <form>
        <table class="table table-bordered" id="game">
            <thead>
                <tr>
                    <!--th scope="col-sm">1</th-->
                </tr>
            </thead>
            <tbody>
                <tr class="score">
                    <!--td scope="col" class="f1">
                        <div class="col-sm f1 input-group m-1">
                            <input type="hidden" name="f1_0">
                            <input type="hidden" name="f1_1">
                        </div>
                    </td-->
                </tr>
                <tr class="summary">
                    <!--td class="f1">0</td-->
                </tr>
            </tbody>
        </table>
        </form>
    </div>
    <div class="col-sm">
        <button type="button" class="btn btn-info">NextLane</button>
    </div>
  </div>
</div>
{{ form }}
{{ form.select.label　}}
{% for radio in form.select %}
    {{ radio.tag }}
    <label>{{ radio.choice_label }}</label>
{% endfor %}
{% endblock %}
{% block extra_js %}
<script>
$(function(){
    fnAddLane(0);

    $('select').on('change', function(){
        console.log(this.name);
        console.log(this.value);
    });

    $("button.btn.btn-info").on("click", function(){
        var cnt = fnCountLane();
        if ( cnt < 10 ) {
            fnAddLane(cnt);
        }
    });

    function fnAddLane(cnt){
        fnAddHead(cnt);
        fnAddTd(cnt);
        fnAddScore(cnt);
    };

    function fnAddHead(cnt){
        $(".table thead > tr").append('<th scope="col-sm">'+(cnt+1)+"</th>");
    }

    function fnAddTd(cnt){
        $(".table tbody > tr").append('<td scope="col" class="f'+(cnt+1)+'"></td>');
        $(".table tbody > tr.summary > td.f"+(cnt+1)).append('<input type="hidden" name="f'+(cnt+1)+'_0">');
        $(".table tbody > tr.summary > td.f"+(cnt+1)).append('<input type="hidden" name="f'+(cnt+1)+'_1">');
    }

    function fnAddScore(cnt){
        $(".score > td.f"+(cnt+1)).append('<div class="col-sm input-group m-1 f'+(cnt+1)+'">');
        fnAddSelect(cnt);
    }

    function fnAddSelect(cnt){
        var select_cnt = $('.score > td.f'+(cnt+1)+' > div').length;
        if ( select_cnt > 2 ) return false;
        var $select = undefined;
        var list = {};
        if ( select_cnt == 1 ){
            list = {"0": "G", "1":"1", "2":"2", "3":"3", "4":"4", "5":"5", "6":"6", "7":"7", "8":"8","9":"9","10":"X"},
            $select = $('select[name=f'+(cnt+1)+'_0]');
        }else{
            list = {"0": "-", "1":"1", "2":"2", "3":"3", "4":"4", "5":"5", "6":"6", "7":"7", "8":"8","9":"9","10":"/"},
            $select = $('select[name=f'+(cnt+1)+'_1]');
        }
        $('.score > td.f'+(cnt+1)+' > div').append('<select class="custom-select" name="f'+(cnt+1)+'_'+(select_cnt-1)+'">');
        $('.score > td.f'+(cnt+1)+' > div > select').append('<option >');
        $.each(list, function(key,val){
            $('.score > td.f'+(cnt+1)+' > div > select').append('<option value="'+key+'">'+val);
        });
    }

    function fnCountLane(){
        return $("table#game > thead > tr > th").length;
    }

});
</script>
{% endblock %}
